.cizgi{
    border-top: solid 1px #554a4a;
    margin: 20px 0;
}


.openning-screen{
    background: repeating-radial-gradient(rgba(1, 21, 31, 0.5),rgba(1, 28, 41, 0.5)),url('images/oguz-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    padding: 10px 0px;

}

.profile-foto{

   border-radius: 100%;
    border:5px solid white;
}

.profile-foto-frame{
    padding: 15px;
        width:100%;
    display: flex;
    justify-content: center;
}

.header1{
text-align: center;
    color:#F6F1F1;
}

.header2{
    text-align: center;
        color:white;
    }

    .content-box{
        display: flex;
        justify-content: center;
        padding: 15px;

    }
    .content{
     
        padding: 15px;
        border-radius: 25px;
        width: 800px;
        font-size: 18px;
        text-align: center;
    }

    .egitim-box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:15px;
    }